body{
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	top: 15%;
	background-image: linear-gradient(to right, red , yellow);
}

h1{
	font-size: 3.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	letter-spacing: 0.5em;
	width: 100%;
}

h3, h4{
	font-weight: 600;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;
}

h4{
	font-size: 1.5em;
}


h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 1em;
    color: rgba(0,0,0,1.0);
    line-height: 25;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

input[type="color"] {
    appearance: auto;
    width: 60px;
    height: 30px;
}